{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} | Detail a sortie

{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="text-center mt-3">Detail de la sortie</h1>

        <div class="sortie-detail-tableau margin-30">
            <div class="sortie-detail-tableau-col1">
                <div class="sortie-detail">
                    <div class="info-sortie-titre">
                        <h5>Nom de la sortie:</h5>
                    </div>
                    <div class="info-sortie-contenue">
                        <h5>{{ sortie.nom }}</h5>
                    </div>
                </div>
                <div class="sortie-detail">
                    <div class="info-sortie-titre">
                        <h5>Date et heure de la sortie:</h5>
                    </div>
                    <div class="info-sortie-contenue">
                        <h5>{{ sortie.dateDebut|date("Y-m-d H:i:s") }}</h5>
                    </div>
                </div>
                <div class="sortie-detail">
                    <div class="info-sortie-titre">
                        <h5>Date limite d'inscription:</h5>
                    </div>
                    <div class="info-sortie-contenue">
                        <h5>{{ sortie.dateCloture|date("Y-m-d H:i:s") }}</h5>
                    </div>
                </div>
                <div class="sortie-detail">
                    <div class="info-sortie-titre">
                        <h5>Nombre de place:</h5>
                    </div>
                    <div class="info-sortie-contenue">
                        <h5>{{ sortie.nbInscriptionMax }}</h5>
                    </div>
                </div>
                <div class="sortie-detail">
                    <div class="info-sortie-titre">
                        <h5>Durée:</h5>
                    </div>
                    <div class="info-sortie-contenue">
                        <h5>{{ sortie.duree }} min</h5>
                    </div>
                </div>
                <div class="sortie-detail">
                    <div class="info-sortie-titre">
                        <h5>Description et infos:</h5>
                    </div>
                    <div class="info-sortie-contenue">
                        <h5>{{ sortie.description }}</h5>
                    </div>
                </div>
            </div>
            <div class="sortie-detail-tableau-col2">
                <div class="sortie-detail">
                    <div class="info-sortie-titre">
                        <h5>Lieu:</h5>
                    </div>
                    <div class="info-sortie-contenue">
                        <h5>{{ sortie.lieux.nom }}</h5>
                    </div>
                </div>
                <div class="sortie-detail">
                    <div class="info-sortie-titre">
                        <h5>Rue:</h5>
                    </div>
                    <div class="info-sortie-contenue">
                        <h5>{{ sortie.lieux.rue }}</h5>
                    </div>
                </div>
                <div class="sortie-detail">
                    <div class="info-sortie-titre">
                        <h5>Ville:</h5>
                    </div>
                    <div class="info-sortie-contenue">
                        <h5>{{ sortie.lieux.ville.nom }}</h5>
                    </div>
                </div>
                <div class="sortie-detail">
                    <div class="info-sortie-titre">
                        <h5>Code postal:</h5>
                    </div>
                    <div class="info-sortie-contenue">
                        <h5>{{ sortie.lieux.ville.codePostal }}</h5>
                    </div>
                </div>
                <div class="sortie-detail">
                    <div class="info-sortie-titre">
                        <h5>Latitude:</h5>
                    </div>
                    <div class="info-sortie-contenue">
                        <h5>{{ sortie.lieux.latitude }}</h5>
                    </div>
                </div>
                <div class="sortie-detail">
                    <div class="info-sortie-titre">
                        <h5>Longitude:</h5>
                    </div>
                    <div class="info-sortie-contenue">
                        <h5>{{ sortie.lieux.longitude }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover margin-30">
        <thead class="thead-light">
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for inscription in sortie.inscriptions %}
            <tr>
                <td class="info-participant-resp">{{ inscription.participant.pseudo }}</td>
                <td class="info-participant"><a href="{{ path('user_detail', {id: inscription.participant.id}) }}" class="text-decoration-none fw-bold text-dark link-primary">{{ inscription.participant.pseudo }}</a> </td>
                <td>{{ inscription.participant.nom }} {{ inscription.participant.prenom }}</td>
            </tr>
        {% endfor %}
            {% if sortie.inscriptions|length == 0 %}
             <tr>
                <td style="text-align: center;"colspan="2">Aucun Inscrit</td>
            </tr>
            {% endif %}
            
        </tbody>
    </table>



{% endblock %}