{% extends 'base.html.twig' %}

{% block title %}
    Liste des sorties
{% endblock %}

{% block body %}

<script src="{{ asset('js/modal.js') }}" defer></script>

<div class="div-recherche-sortie">
{% include 'sortie/recherche.html.twig' %}
</div>

<div class="div-liste-sortie">
<table class="table margin-30 tableau-liste-sortie">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrit/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for sortie in sorties %}
        {% set inscrit = false %}
        {% for inscription in sortie.inscriptions %}
            {% if inscription.participant.id == app.user.id %}
                {% set inscrit = true %}
            {% endif %}
        {% endfor %}
         <tr>
            <td>{{ sortie.nom}}</td>
            <td>{{ sortie.dateDebut|date("Y-m-d H:i:s")}}</td>
            <td>{{ sortie.dateCloture|date("Y-m-d H:i:s")}}</td>
            <td>{{ sortie.inscriptions|length }}/{{ sortie.nbInscriptionMax}}</td>
            <td>{{ sortie.etat.libelle}}</td>
            <td>{% if inscrit == true %}X{% endif %}</td>
            <td><a class="text-decoration-none fw-bold link-primary" href="{{ path('user_detail', {id: sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo}}</a></td>
            <td>
                {% if sortie.organisateur.id == app.user.id %}
                    {% if sortie.dateCloture|date("Y-m-d H:i:s") >= dateDuJour|date("Y-m-d H:i:s") and sortie.dateDebut|date("Y-m-d H:i:s") >= dateDuJour|date("Y-m-d H:i:s") and sortie.etat.id == 1 %} 
                        <a class="text-decoration-none fw-bold link-primary" href="{{ path('sortie_update', {id: sortie.id}) }}">Modifier</a> 
                    {% else %} 
                        <a class="text-decoration-none fw-bold link-primary" href="{{ path('sortie_detail', { 'id': sortie.id }) }}">Afficher</a> 
                        {% if sortie.etat.id == 2 or sortie.etat.id == 3 %}
                             - <a class="text-decoration-none fw-bold link-primary openModalAnnulation" id="openModalLink" data-nom="{{ sortie.nom }}" href="#" data-identifiant="{{ sortie.id }}" >Annuler</a>
                        {% endif %}
                    {% endif %}
                    
                    {% if sortie.etat.id == 1 %} 
                        - <a class="text-decoration-none fw-bold link-primary" href="{{ path('sortie_publier', {id: sortie.id}) }}">Publier</a>
                    {% endif %}

                {% else %} <a class="text-decoration-none fw-bold link-primary" href="{{ path('sortie_detail', { 'id': sortie.id }) }}">Afficher</a> 
                    {% if app.user.administrateur %}
                        {% if sortie.etat.id == 2 or sortie.etat.id == 3 %}
                             - <a class="text-decoration-none fw-bold link-primary openModalAnnulation" id="openModalLink" href="#" data-nom="{{ sortie.nom }}" data-identifiant="{{ sortie.id }}" >Annuler</a> 
                        {% endif %}
                    {% endif %}
                    {% if inscrit == true %}
                        {% if sortie.etat.id == 2 and sortie.dateCloture|date("Y-m-d H:i:s") >= dateDuJour|date("Y-m-d H:i:s") and sortie.dateDebut|date("Y-m-d H:i:s") >= dateDuJour|date("Y-m-d H:i:s") %}
                            - <a class="text-decoration-none fw-bold link-primary" href="{{ path('sortie_desistement', { 'id': sortie.id }) }}">Se désister</a> 
                        {% endif %}
                    {% else %} 
                        {% if sortie.etat.id == 2 and sortie.dateCloture|date("Y-m-d H:i:s") >= dateDuJour|date("Y-m-d H:i:s") and sortie.dateDebut|date("Y-m-d H:i:s") >= dateDuJour|date("Y-m-d H:i:s") and sortie.inscriptions|length < sortie.nbInscriptionMax %}
                            - <a class="text-decoration-none fw-bold link-primary" href="{{ path('sortie_inscription', { 'id': sortie.id }) }}">S'inscire</a> 
                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}  
     {% if sorties|length == 0 %}
             <tr>
                <td style="text-align: center;"colspan="2">Aucune sortie</td>
            </tr>
    {% endif %}
    </tbody>
</table>
</div>
<a class="btn btn-primary bouton-cree-sortie" href="{{ path('sortie_create')}}">Créer une sortie</a>

<div class="div-liste-sortie-responsive">
    {% include 'sortie/listeResponsive.html.twig' %}
</div>
<div id="modalAnnulation" class="modal">
  <div class="modal-content">
    <h1 id="modal-nom"></h1>
    <form method="POST" action="{{ path('sortie_annuler') }}">
        <p>Motif de l'annulation :</p>
        <textarea required id="modal-motif" name="motif" rows="4" cols="50" maxlength="200"></textarea>
        <input type="hidden" id="modal-identifiant" name="identifiant" value="">
        <div class="margin-20">
            <input class="btn btn-primary" type="submit"  name="valider-annulation" value="Valider">
            <a id="closeModalBtn" onclick="closeModalAnnulation()" class="btn btn-secondary">Fermer</a>
        </div>
    </form>
  </div>
</div>
{% endblock %}