{% extends 'base.html.twig' %}

{% block title %}
    Liste des sorties
{% endblock %}

{% block body %}

<script src="{{ asset('js/modal.js') }}" defer></script>

{% include 'sortie/recherche.html.twig' %}


<table class="table margin-30">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrit/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for sortie in sorties %}
        {% set inscrit = false %}
        {% for inscription in sortie.inscriptions %}
            {% if inscription.participant.id == app.user.id %}
                {% set inscrit = true %}
            {% endif %}
        {% endfor %}
         <tr>
            <td>{{ sortie.nom}}</td>
            <td>{{ sortie.dateDebut|date("m/d/Y")}}</td>
            <td>{{ sortie.dateCloture|date("m/d/Y")}}</td>
            <td>{{ sortie.inscriptions|length }}/{{ sortie.nbInscriptionMax}}</td>
            <td>{{ sortie.etat.libelle}}</td>
            <td>{% if inscrit == true %}X{% endif %}</td>
            <td>{{ sortie.organisateur.pseudo}}</td>
            <td>
                {% if sortie.organisateur.id == app.user.id %}
                    {% if sortie.dateCloture|date("m/d/Y") >= "now"|date("m/d/Y") and sortie.dateDebut|date("m/d/Y") >= "now"|date("m/d/Y") and sortie.etat.id == 1 %} 
                        <a href="{{ path('sortie_update', {id: sortie.id}) }}">Modifier</a> 
                    {% else %} 
                        <a href="#">Afficher</a> 
                        {% if sortie.etat.id == 2 %}
                             - <a id="openModalLink" href="#" data-identifiant="{{ sortie.id }}" class="openModalAnnulation">Annuler</a> 
                        {% endif %}
                    {% endif %}
                    
                    {% if sortie.etat.id == 1 %} 
                        - <a href="{{ path('sortie_publier', {id: sortie.id}) }}">Publier</a>
                    {% endif %}

                {% else %} <a href="#">Afficher</a> 
                    {% if inscrit == true %}
                        {% if sortie.dateCloture|date("m/d/Y") >= "now"|date("m/d/Y") and sortie.dateDebut|date("m/d/Y") >= "now"|date("m/d/Y") %}
                            - <a href="{{ path('sortie_desistement', { 'id': sortie.id }) }}">Se désister</a> 
                        {% endif %}
                    {% else %} 
                        {% if sortie.dateCloture|date("m/d/Y") >= "now"|date("m/d/Y") and sortie.dateDebut|date("m/d/Y") >= "now"|date("m/d/Y") and sortie.inscriptions|length < sortie.nbInscriptionMax %}
                            - <a href="{{ path('sortie_inscription', { 'id': sortie.id }) }}">S'inscire</a> 
                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}  
    </tbody>
</table>
<a class="btn btn-primary" href="{{ path('sortie_create')}}">Créer une sortie</a>

<div id="modalAnnulation" class="modal">
  <div class="modal-content">
    <h1>Formulaire d'annulation</h1>
    <form method="POST" action="http://127.0.0.1:8000/sortie/annuler">
        <p>Motif de l'annulation :</p>
        <textarea id="modal-motif" name="motif" rows="4" cols="50" maxlength="200"></textarea>
        <input type="hidden" id="modal-identifiant" name="identifiant" value="">
        <div class="margin-20">
            <input class="btn btn-primary" type="submit"  name="valider-annulation" value="Valider">
            <a id="closeModalBtn" onclick="closeModalAnnulation()" class="btn btn-secondary">Close Modal</a>
        </div>
    </form>
  </div>
</div>
{% endblock %}