{% extends 'base.html.twig' %}

{% block title %}
    Liste des sorties
{% endblock %}

{% block body %}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrit/places</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for sortie in sorties %}
        {% set inscrit = false %}
        {% for inscription in sortie.inscriptions %}
            {% if inscription.participant.id == app.user.id %}
                {% set inscrit = true %}
            {% endif %}
        {% endfor %}
         <tr>
            <td>{{ sortie.nom}}</td>
            <td>{{ sortie.dateDebut|date("m/d/Y")}}</td>
            <td>{{ sortie.dateCloture|date("m/d/Y")}}</td>
            <td>{{ sortie.inscriptions|length }}/{{ sortie.nbInscriptionMax}}</td>
            <td>{% if inscrit == true %}X{% endif %}</td>
            <td>{{ sortie.organisateur.pseudo}}</td>
            <td>{% if sortie.organisateur.id == app.user.id %} <a href="#">Modifier</a> {% if sortie.etat.id == 1 %} - <a href="#">Publier</a>{% endif %}{% else %} <a href="#">Afficher</a> {% if inscrit == true %} - <a href="#">Se désister</a> {% else %} - <a href="#">S'inscire</a> {% endif %}{% endif %}</td>
        </tr>
    {% endfor %}  
    </tbody>
</table>

{% endblock %}