<nav class="navbar navbar-expand-lg bg-body-tertiary py-1">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('sortie_liste') }}">Logo Sortir.com</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				{% if app.user and app.user.administrateur == true %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Villes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('user_upload') }}">Importer des utilisateurs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Sites</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('sortie_liste') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('user_update') }}">Mon profil</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Déconnection</a>
					</li>
				{% else %}
					<a class="nav-link" href="{{ path('app_login') }}">Connection</a>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
