<nav class="navbar navbar-expand-lg bg-body-tertiary py-1">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('sortie_liste') }}"><img class="image-logo" src="{{asset('img/logo.png')}}"></a>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				{% if app.user and app.user.administrateur == true %}
				
					<li class="nav-item">
						<a class="nav-link " aria-current="page" href="{{ path('ville_liste') }}">Villes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " aria-current="page" href="{{ path('lieux_liste') }}">Lieux</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " aria-current="page" href="{{ path('site_liste') }}">Sites</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " aria-current="page" href="{{ path('user_list') }}">Gestion des utilisateurs</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link " aria-current="page" href="{{ path('sortie_liste') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('user_update') }}">Mon profil</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Déconnection</a>
					</li>
				{% else %}
					<a class="nav-link" href="{{ path('app_login') }}">Connection</a>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
