{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} | Detail user

{% endblock %}

{% block body %}

    <h1 class="text-center mt-3">{{ user.pseudo }}</h1>

    <div class="tableau-user margin-20">

        <div class="center-div">
            {% if user.image != null %}
                <img class="image-profil margin-20" src="/img/utilisateur/{{user.image}}">
            {% else %}
                <img src="https://fakeimg.pl/250x250/">
            {% endif %}
            
        </div>

        <div class="info-user">
            <div class="info">
                <div class="info-user-titre">
                    <h5>Prénom:</h5>
                </div>
                <div class="info-user-contenue">
                    <h5>{{ user.prenom }}</h5>
                </div>
            </div>
            <div class="info">
                <div class="info-user-titre">
                    <h5>Nom:</h5>
                </div>
                <div class="info-user-contenue">
                    <h5>{{ user.nom }}</h5>
                </div>
            </div>
            <div class="info">
                <div class="info-user-titre">
                    <h5>Téléphone:</h5>
                </div>
                <div class="info-user-contenue">
                    <h5>{{ user.telephone }}</h5>
                </div>
            </div>
            <div class="info">
                <div class="info-user-titre">
                    <h5>Email:</h5>
                </div>
                <div class="info-user-contenue">
                    <h5>{{ user.email }}</h5>
                </div>
            </div>
            <div class="info">
                <div class="info-user-titre">
                    <h5>Site de rattachement:</h5>
                </div>
                <div class="info-user-contenue">
                    <h5>{{ user.sites.nom }}</h5>
                </div>
            </div>
        </div>

    </div>

    <div class="margin-20 row d-flex justify-content-center ">
        <div class="col-2">
            <button class="btn btn-outline-secondary" onclick="javascript:window.history.back()">Retour</button>
        </div>
    </div>

{% endblock %}